<a href="https://colab.research.google.com/github/Liza-IITP/MachineLearning/blob/main/REGEX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **`BASICS`**

In [122]:
print('hello' in 'hello world')
print('data' in 'machine-learning')
print('data' in 'data-science')

True
False
True

In [123]:
import re
print(re.search('hello','hello world'))
print(re.search('joy','toyjoy'))
print(re.search('\s','hello hello joy'))

<re.Match object; span=(0, 5), match='hello'>
<re.Match object; span=(3, 6), match='joy'>
<re.Match object; span=(5, 6), match=' '>

In [124]:
s = re.search("hello", "hello , welcome to python hello again")
print(s.span())
print(s.group())
print(s.start())
print(s.end())

(0, 5)
hello
0
5

In [125]:
a = "hello toy hello joy hello coy hello ten soy hello "
b = "hello"
print(len(re.findall(b,a)))

5

In [126]:
for i in re.finditer(b,a) :
  print(i.span())

(0, 5)
(10, 15)
(20, 25)
(30, 35)
(44, 49)

In [127]:
phoneno = 'my contact number : 857-1947-233'
pattern = '\d{3}-\d{4}-\d{3}'

print(re.search(pattern,phoneno))

<re.Match object; span=(20, 32), match='857-1947-233'>

In [128]:
txt1="my telephone number is 834-4324-345"
txt2="my telephone number is 8344324345"
pattern='\d{3}-\d{4}-\d{3}'
print(re.search(pattern,txt1))
print(re.search(pattern,txt2))

print(re.search(pattern,txt1).group())

<re.Match object; span=(23, 35), match='834-4324-345'>
None
834-4324-345

In [129]:
print(re.findall('at','The rat sat on the mat and attached by a cat'))

['at', 'at', 'at', 'at', 'at']

# **REGEX**

In [130]:
print(re.findall('.at','The rat sat on the mat and attached by a cat'))

['rat', 'sat', 'mat', ' at', 'cat']

In [131]:
print(re.findall('\d','4 is divisible by 2 and not by 3'))

['4', '2', '3']

In [132]:
print(re.findall('^\d','4 is divisible by 2 and not by 3'))
print(re.findall('^\d','Hi, 4 is divisible by 2 and not by 3'))
print(re.findall('^\d',"I'm starting with 4 , that's a number isn't it ! 2is also a number . 3is also a number , so why not2,3?"))
print(re.findall('^\d',"1-34I'm starting with 4 , that's a number isn't it ! 2is also a number . 3is also a number , so why not2,3?"))

['4']
[]
[]
['1']

In [133]:
print(re.findall('\d$','4 is divisible by 2 and not by 3'))
print(re.findall('\d$','4 is divisible by 2 and not by 3 in maths'))
print(re.findall('\d$',"I'm ending with number0"))

['3']
[]
['0']

In [134]:
print(re.findall('[A-Z]','Welcome'))
print(re.findall('[a-z]','Welcome 1'))
print(re.findall('[0-9]','Welcome 1'))
print(re.findall('[A-Za-z]','12345Welcome 1'))
print(re.findall('[A-Za-z0-9]','Welcome 1'))

['W']
['e', 'l', 'c', 'o', 'm', 'e']
['1']
['W', 'e', 'l', 'c', 'o', 'm', 'e']
['W', 'e', 'l', 'c', 'o', 'm', 'e', '1']

In [136]:

txt="ryaaryaananis happ@y !,"
print(re.findall('[^a-z]',txt))
print(re.findall('[^A-Z]',txt))
print(re.findall('[^A-Za-z]',txt))
print(re.findall('[^A-Za-z0-9]',txt))

[' ', '@', ' ', '!', ',']
['r', 'y', 'a', 'a', 'r', 'y', 'a', 'a', 'n', 'a', 'n', 'i', 's', ' ', 'h', 'a', 'p', 'p', '@', 'y', ' ', '!', ',']
[' ', '@', ' ', '!', ',']
[' ', '@', ' ', '!', ',']

In [137]:
import re
txt="I'm Ashish and 24"
print(''.join(re.findall('\d',txt))) # print numbers
print(''.join(re.findall('\D',txt))) # exclude numbers

24
I'm Ashish and

In [138]:
txt="Hello I am studying from tutorials and it is amazing.Let's see how this works-it-out, wklfd-dfjgk-fjkds"
print(re.findall('[\w]+-[\w]+-[\w]+',txt))

['works-it-out', 'wklfd-dfjgk-fjkds']

In [139]:
for no in ["64-6534-342", "543-5345-645","4563-453-445","53-5453-5345","435-234-6324"]:

    print(str(re.findall('[\d]+-[\d]+-[\d]' , no)[0]).replace('-',''))

6465343
54353456
45634534
5354535
4352346

In [140]:
import re

mail='ryaan@yahoo.in'
p='[A-Za-z0-9]+@[\w]+.[\w]+'

print(re.search(p,mail))

mail1='ryaan@yahoo.org'
mail2='ryaan@yahoo.net'
mail3='ryaan@gmail.com'
p='[A-Za-z0-2]+@(yahoo).(org|net|in|com)'
print(re.search(p,mail1))
print(re.search(p,mail2))
print(re.search(p,mail3))

mail1='ryaan@yahoo.org'
mail2='ryaan@gmail.com'
p='[A-Za-z0-2]+@(yahoo).(org)'
print(re.search(p,mail1))
print(re.search(p,mail2))

txt='Mail ryaan@yahoo.in to contact ryaan'
print(re.findall(p,txt))

<re.Match object; span=(0, 14), match='ryaan@yahoo.in'>
<re.Match object; span=(0, 15), match='ryaan@yahoo.org'>
<re.Match object; span=(0, 15), match='ryaan@yahoo.net'>
None
<re.Match object; span=(0, 15), match='ryaan@yahoo.org'>
None
[]

In [141]:
#Pattern Matching without re
strnum = ['1','2','3','4','5','6','7','8','9','0']
# To Track Consecutive digits
txt = 'The number is 8372493 not 423423 this is rest of code'
count = []
tempstr =''
for i in range(len(txt)) :
  if(txt[i] not in strnum or i==len(txt)-1 ):
    if(tempstr!=''):
      count.append(tempstr)
    tempstr=''
  else :
    tempstr+=txt[i]

print(count)

# ANOTHER APPROACH
txt = 'The number is 8372493 not 423423'
c = 0  # Counter to track consecutive digits

# Iterate through each character in the string by index
for i in range(len(txt)):
    # Check if the current character is a digit
    if txt[i].isdigit() == True:
        # If this is the first digit in a sequence, save the start index
        if c == 0:
            st = i  # st is the starting index of the current number
        c += 1  # Increment the consecutive digit counter
    else:
        # If we were counting digits and encountered a non-digit, process the number
        if c != 0:
            end = i  # End index is the current position (non-digit)
            print(txt[st:end])  # Extract and print the number
            c = 0  # Reset counter for next potential number

# After the loop, check if there's an unprocessed number at the end of the string
if c != 0:
    # Use negative indexing to get the last 'c' characters (the final number)
    print(txt[-c:])

['8372493', '423423']
8372493
423423

In [142]:
txt="Let us study Data Science from yahoo."
txt=txt.lower()  # Convert the string to lowercase
word='data'  # Word to search for in the string

for i in range(len(txt)):  # Loop through the string
   if(txt[i:i+len(word)]==word):  # Check if the substring matches the word
       print(i,i+len(word))  # Print the start and end indices of the match

13 17

In [143]:
txt = 'AI is having the capability to revolutionize all the industries. The Industry is ready for a big change'
word = 'in'

for wrd in txt.split(' '):
    if (wrd[:2].lower() == word.lower()):
        print(wrd)

industries.
Industry

In [144]:
txt = 'AI is having the capability to revolutionize all the industries. The Industry is ready for a big change'
word = 'he'

for wrd in txt.split(' '):
    if(wrd[-2:].lower() == word.lower()):
        print(wrd)

the
the
The

In [145]:
txt = 'AI is having the capability to revolutionize all the industries. The Industry is ready for a big change'

for i in range(len(txt.split(' '))-1):
    print(txt.split(' ')[i], txt.split(' ')[i + 1])

AI is
is having
having the
the capability
capability to
to revolutionize
revolutionize all
all the
the industries.
industries. The
The Industry
Industry is
is ready
ready for
for a
a big
big change

In [146]:
# List of email addresses
mails = ['ryaan@gmail.com','ryaan@yahoo.org','ryaan@yahoo.com','ryaan@aap.gov.in','esh@hotmail.com','esh@mail.com','ryaan@orkut.com']

# Lists to store user id, host name, and domain type
user_id = []
host_name = []
domain_type = []

# Loop through each email in the list
for mail in mails:
    # Extract and append the user id (part before '@')
    user_id.append(mail.split('@')[0])

    # Extract and append the host name (part between '@' and first '.')
    host_name.append(mail.split('@')[1].split('.')[0])

    # Extract and append the domain type (part after first '.')
    domain_type.append('.'.join(mail.split('@')[1].split('.')[1:]))

# Print the results
print(user_id)  # List of user ids
print(host_name)  # List of host names
print(domain_type)  # List of domain types

['ryaan', 'ryaan', 'ryaan', 'ryaan', 'esh', 'esh', 'ryaan']
['gmail', 'yahoo', 'yahoo', 'aap', 'hotmail', 'mail', 'orkut']
['com', 'org', 'com', 'gov.in', 'com', 'com', 'com']